$primary-color: #39cdcc;
$dark-blue: #213f7d;
$gray: #545f7d;
$light-gray: #a3a3a3;
$bg-color: #ffffff;
$border-color: #e5e5e5;
$font: 'Avenir Next', 'Inter', sans-serif;

.login-page {
  display: flex;
  min-height: 100vh;
  font-family: $font;
  color: $dark-blue;
  background-color: $bg-color;

  .left-section {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 6rem 6rem;

    .logo {
      margin-bottom: 6rem;
    }

    @media (max-width: 960px) {
      display: none;
    }
  }

  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);

    .form-container {
      width: 100%;
      max-width: 447px;

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: $dark-blue;
        margin-bottom: 0.625rem;
        letter-spacing: -0.04em;
      }

      p {
        font-size: 1.25rem;
        color: $gray;
        margin-bottom: 3.75rem;
        font-weight: 400;
      }

      form {
        display: flex;
        flex-direction: column;

        .form-group {
          position: relative;
          margin-bottom: 1.5rem;

          input {
            width: 100%;
            padding: 0.9375rem 1rem;
            font-size: 0.875rem;
            border: 2px solid $border-color;
            border-radius: 5px;
            outline: none;
            color: $gray;
            transition: border-color 0.2s;
            font-family: $font;

            &:focus {
              border-color: $primary-color;
            }

            &::placeholder {
              color: $light-gray;
              font-size: 0.875rem;
            }
          }

          &.password-group {
            .show-btn {
              position: absolute;
              right: 1.25rem;
              top: 50%;
              transform: translateY(-50%);
              font-size: 0.75rem;
              font-weight: 600;
              color: $primary-color;
              cursor: pointer;
              user-select: none;
              letter-spacing: 0.1em;
            }
          }
        }

        .forgot-password {
          text-decoration: none;
          color: $primary-color;
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.1em;
          margin-bottom: 1.875rem;
          align-self: flex-start;

          &:hover {
            text-decoration: underline;
          }
        }

        .login-button {
          background: $primary-color;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 600;
          border: none;
          border-radius: 8px;
          padding: 1rem;
          cursor: pointer;
          transition: background 0.3s ease;
          letter-spacing: 0.05em;
          text-transform: uppercase;

          &:disabled {
            background-color: #a0a0a0;
            cursor: not-allowed;
          }

          .loader {
            width: 20px;
            height: 20px;
            color: #ffffff;
            animation: spin 1s linear infinite;
            margin: auto;
          }
        }

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
